body{
    background-image: url(img/pawel-czerwinski-OOFSqPWjCt0-unsplash\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: x-large;
    font-weight: 650;

   
}
p{
    color:beige;
}
h1{
    color: blue;
}
h2{
    color:yellow;
}
ul{
    color: white;
}
    #Lawrence{
        text-align: center;
        padding: 2px;
    }
    #projects{
        width: 75%;
    }
   nav {align-self:right;

   }
   .text-box{
       border-style: groove;
       align-content: center;
       border-style: solid;
       color:darkgrey;
   }
