body{
    background-image: url(/img/pawel-czerwinski-6lQDFGOB1iw-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
#about{
background-color: darkblue;
margin: 5px;
}